<header class="sticky top-0 z-50 w-full bg-[var(--bg-card)] shadow backdrop-blur-sm">
  <div
    class="mx-auto max-w-7xl flex items-center justify-between  px-4 py-2"
  >
    <!-- Left section -->
    <div class="flex items-center gap-8">
      <!-- Logo -->
      <a routerLink="/shop/home" class="flex items-center gap-2 text-[var(--text-main)]">
        <app-icon-tienda [svgClass]="'h-10 w-14 md:w-20 '" />
      </a>

      <!-- Navigation -->
      <nav class="hidden md:flex items-center gap-6">
        <a
          routerLink="/shop/home"
          class="text-sm font-medium text-[var(--text-muted)] hover:text-[var(--primary)] transition-colors"
          >Inicio</a
        >
        <a
          routerLink="/shop/catalogo-product"
          class="text-sm font-medium text-[var(--text-muted)] hover:text-[var(--primary)] transition-colors"
          >Catálogo</a
        >
      </nav>
    </div>

    <!-- Search -->
    <div class="w-full mx-6 max-w-xl md:block">
      <app-search />
    </div>

    <!-- Right buttons -->
    <div class="flex items-center gap-2 md:gap-3">
      <app-button-theme />
      <!-- User with menu -->
      <div class="relative" (mouseenter)="showUserMenu = true" (mouseleave)="leaveUserMenu()">
        @if (!src) {
        <!-- si usuario no esta logueado carga lucide-icon UserRound -->
        <!-- si usuario no esta logueado carga lucide-icon UserRound -->
        <button
          class="flex items-center justify-center rounded-lg text-[var(--icon)] hover:text-[var(--text-main)]"
        >
          <lucide-icon [img]="UserRound"></lucide-icon>
        </button>
        } @else {
        <!-- si usuario esta logueado carga la foto de perfil -->
        <button
          class="flex items-center justify-center rounded-full w-8 h-8 overflow-hidden border-2 border-[var(--border)] hover:border-[var(--primary)]"
        >
          <img [src]="src" alt="User Profile" class="w-full h-full object-cover" />
        </button>
        } @if (showUserMenu){
        <!-- si usuario esta logueado carga la foto de perfil -->
        <!-- panel dropdown de login/register si el usuario no esta logueado -->
        <div
          class="absolute left-1/2 -translate-x-1/2 mt-0 w-32 flex flex-col bg-[var(--bg-card)] border border-[var(--border)] shadow-lg rounded-lg p-2 z-50"
        >
          <a
            (click)="redirectAfterAuth(`login`)"
            class="text-sm text-[var(--text-main)] hover:text-[var(--primary)] text-left py-1 px-2"
          >
            Iniciar Sesión
          </a>

          <a
            (click)="redirectAfterAuth(`register`)"
            class="text-sm text-[var(--text-main)] hover:text-[var(--primary)] text-left py-1 px-2"
          >
            Registrarse
          </a>
        </div>
        }@else {
        <div
          class="absolute left-1/2 -translate-x-1/2 mt-0 w-32 flex flex-col bg-[var(--bg-card)] border border-[var(--border)] shadow-lg rounded-lg p-2 z-50"
        >
          <a
            [routerLink]="profileRoute"
            class="flex items-center gap-2 text-sm text-[var(--text-main)] hover:text-[var(--primary)] text-left py-1 px-2 w-full"
          >
            <lucide-icon [img]="UserRound"></lucide-icon>
            Perfil
          </a>
          <a
            [routerLink]="orderRoute"
            class="flex items-center gap-2 text-sm text-[var(--text-main)] hover:text-[var(--primary)] text-left py-1 px-2 w-full"
          >
            <lucide-icon [img]="SquareChartGantt"></lucide-icon>
            Pedidos
          </a>
          <button
            (click)="closeLog()"
            class="flex items-center gap-2 text-sm text-[var(--text-main)] hover:text-[var(--primary)] text-left py-1 px-2 w-full"
          >
            <lucide-icon [img]="LogOut"></lucide-icon>
            Cerrar Sesión
          </button>
        </div>
        } }
      </div>

      <!-- Cart -->
      @if (showCartDropdown) {
      <app-cart-dropdown></app-cart-dropdown>
      }
      <!-- Mobile menu -->
      <button (click)="toggleMenu()" class="material-symbols-outlined text-[var(--text-main)]">
        <lucide-icon [img]="TextAlignJustify" class="md:hidden"></lucide-icon>
      </button>
    </div>
  </div>

  <!-- Mobile dropdown -->
  @if (menu) {
  <div
    class="flex flex-col md:hidden text-center px-4 py-3 gap-3 bg-[var(--bg-main)] border-b border-[var(--border)]"
  >
    <a
      routerLink="/shop/catalogo-product"
      class="text-sm font-medium text-[var(--text-main)] hover:text-[var(--primary)] transition-colors py-2"

    >
      Catalogo
    </a>

    <a
      routerLink="/shop/home"
      class="text-sm font-medium text-[var(--text-main)] hover:text-[var(--primary)] transition-colors py-2"
    >
      Home
    </a>
  </div>
  }
</header>
