<header class="sticky top-0 z-50 w-full dark:border-gray-800/80 bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-sm">
    <div class=" mx-auto flex items-center justify-between border-b border-gray-700 px-4 py-1">
        <div class="flex items-center gap-8 ">
            <div class="flex items-center justify-between gap-1 text-gray-900 dark:text-white sm:flex-col md:flex-row">
                <!--logo-->            
                <div class="size-12 text-[#137fec]">
                    <svg fill="none" viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.7273 44C33.9891 44 31.6043 39.8386 30.3636 33.69C29.123 39.8386 26.7382 44 24 44C21.2618 44 18.877 39.8386 17.6364 33.69C16.3957 39.8386 14.0109 44 11.2727 44C7.25611 44 4 35.0457 4 24C4 12.9543 7.25611 4 11.2727 4C14.0109 4 16.3957 8.16144 17.6364 14.31C18.877 8.16144 21.2618 4 24 4C26.7382 4 29.123 8.16144 30.3636 14.31C31.6043 8.16144 33.9891 4 36.7273 4C40.7439 4 44 12.9543 44 24C44 35.0457 40.7439 44 36.7273 44Z" fill="currentColor"></path>
                    </svg>
                </div>
                <h2 class="text-xl font-bold">eCommerce</h2>
            </div>
            <!--nav de navegacion header-->
            <nav class="hidden items-center gap-8 sm:flex sm:gap-5">
                <a class="text-sm font-medium text-gray-700 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors" >
                    Home
                </a>
                <a class="text-sm font-medium text-gray-700 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors" >
                    Shop
                </a>
                <a class="text-sm font-medium text-gray-700 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors" >
                    Categories
                </a>
            </nav>
        </div>
        <div class="flex flex-1 items-center justify-end gap-4">
            <!--barra de busqueda-->
            <div class="hidden sm:flex">
            <app-seach/>
            </div>
            <div class="flex items-center gap-2">
                <!-- Contenedor para hover y modal -->
                <div class="relative"
                    (mouseenter)="showUserMenu = true"
                    >
                    <!-- Botón usuario -->
                    <button
                    class="flex h-10 w-10 cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-gray-100 dark:bg-gray-800 text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors">
                        <span class="material-symbols-outlined">person</span>
                    </button>

                    <!-- modal bajo el botón -->
                    <div *ngIf="showUserMenu"
                    (mouseleave)="leaveUserMenu()"

                        class="absolute left-1/2 -translate-x-1/2 mt-2 w-30 flex flex-col bg-white dark:bg-gray-900 shadow-lg rounded-lg border border-gray-200 dark:border-gray-700 p-3 z-50"
                        >
                        <button class="text-sm text-gray-700 dark:text-gray-300
                                    hover:text-primary text-left py-1">
                            Login
                        </button>
                        <button class="text-sm text-gray-700 dark:text-gray-300
                                    hover:text-primary text-left py-1 mt-1">
                            Register
                        </button>

                    </div>
                </div>

                <button class="relative flex h-10 w-10 cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-gray-100 dark:bg-gray-800 text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors">
                    <span class="material-symbols-outlined">shopping_cart</span>
                    <span class="absolute top-1 right-1 flex h-4 w-4 items-center justify-center rounded-full bg-primary text-white text-[10px] font-bold">3</span>
                </button>
            </div>
        </div>
    </div >
    <!--btn para barra nav y buscador-->
    <div class="flex flex-col mt-1 sm:hidden">
        <div *ngIf="menu" class="flex flex-col gap-3">
            <!--barra de busqueda-->
            <app-seach/>
            <!--nav de navegacion header-->
            <div class="items-center flex justify-around">
                <button class="text-sm font-medium text-gray-700 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors px-4 py-2 border border-gray-300 dark:border-gray-700
                rounded-lg hover:border-primary">
                    Categories
                </button>
                <button class="text-sm font-medium text-gray-700 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors px-10 py-2 border border-gray-300 dark:border-gray-700
                rounded-lg hover:border-primary">
                    Shop
                </button>
            </div>
        </div>
        <span *ngIf="!menu" (click)="toggleMenu()" class="material-symbols-outlined">menu</span>
        <span *ngIf="menu" (click)="toggleMenu()" class="material-symbols-outlined">arrow_back</span>
    </div>
</header>
   