/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #404041;
}

::-webkit-scrollbar-thumb {
  background: #eeeeee70;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eeeeee;
}