<div
  class="flex justify-center min-w-40 h-10 rounded-lg
         focus-within:ring-2 focus-within:ring-white"
>
    <div class="flex w-full flex-1 rounded-lg h-full">
        
        <label for="searchInput" class="text-gray-500 dark:text-gray-400 flex bg-gray-100 dark:bg-gray-800 items-center justify-center pl-3 rounded-l-lg border-r-0">
            <span class="material-symbols-outlined">search</span>
        </label>
        <input
          id="searchInput"
          class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg rounded-l-none text-gray-900 dark:text-gray-100 border-none bg-gray-100 dark:bg-gray-800 h-full placeholder:text-gray-500 dark:placeholder:text-gray-400 pl-2 text-sm font-normal
                 focus:outline-none focus:ring-0 focus:border-transparent"
          placeholder="Search products..."
          [(ngModel)]="wordKey"
        />
    </div>
</div>

