<section class="catalog-container ">
  <div
    class=" max-w-7xl  mx-auto py-8   lg:px-8 flex flex-col md:flex-row gap-8"
  >
    <aside class=" w-full md:w-64 ">
      <app-filter 
        (filterChange)="onFilterChange($event)"
        (refreshCatalogo)="refreshCatalogo()"
        ></app-filter>
    </aside>

    <main class="products-area flex-1">
      <div class="flex justify-between items-center mb-6">
        <h1 class="collection-title text-2xl font-light">Catalogo de productos </h1>
        <span class="text-sm text-gray-500">
          Mostrando {{ products().length }} de {{ totalItems() }} productos
        </span>
      </div>

      @if (loading()) {
      <div class="flex justify-center items-center min-h-[60svh] duration-300">
        <div
          class="animate-spin rounded-full h-12 w-12 border-b-2 border-[var(--border-loading)]"
        ></div>
      </div>
      } @else {
      <div
        class=" grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 min-h-[60svh] duration-300 gap-6"
      >
        @if (products().length === 0) {
        <div class="col-span-full py-12 text-center bg-white rounded-lg shadow">
          <p class="text-gray-500 text-lg">No hay productos disponibles en esta página.</p>
        </div>
        } @else { @for (product of products(); track product.id) {
        <app-product-card [product]="product"></app-product-card>
        } }
      </div>

      } @if (totalPages() > 1) {
      <div class="mt-12 border-t border-gray-200 pt-6">
        <app-pagination
          [(currentPage)]="currentPage"
          [totalPages]="totalPages"
          (currentPageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
      }
    </main>
  </div>
</section>
