<form
  (ngSubmit)="onSearch()"
  class="flex justify-center min-w-40 h-10 rounded-lg focus-within:ring-1 focus-within:ring-white"
>
  <div class="flex w-full flex-1 rounded-lg h-full">
    <label
      for="searchInput"
      class="flex items-center justify-center pl-3 rounded-l-lg border-r-0 text-[var(--text-soft)] bg-[var(--bg-input)]"
    >
    <lucide-icon [img]="search"></lucide-icon>
    </label>

    <input
      id="searchInput"
      name="searchInput"
      class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg rounded-l-none text-[var(--text-main)] border border-[var(--bg-input)] h-full placeholder:text-[var(--text-soft)] pl-2 text-sm font-normal focus:outline-none focus:ring-0 focus:border-transparent"
      placeholder="Search products..."
      [(ngModel)]="wordKey"
    />
  </div>
</form>
